<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">   
    <title>{{.Artist.Name}} - Groupie Trackers</title>
</head>
<body>
    <header>
        <h1>{{.Artist.Name}}</h1>
    </header>
    <main>
        <section class="artist-info">
            <img src="{{.Artist.Image}}" alt="Image of {{.Artist.Name}}" onerror="this.onerror=null;this.src='/static/images/placeholder.jpg';">
            <h2>Members:</h2>
            <ul>
                {{if .Artist.Members}}
                    {{range .Artist.Members}}
                    <li>{{.}}</li>
                    {{end}}
                {{else}}
                    <li>No members available.</li>
                {{end}}
            </ul>            
            <p>Year Started: {{.Artist.CreationDate}}</p>
            <p>First Album: {{.Artist.FirstAlbum}}</p>

            <h2>Concert Locations and Dates:</h2>
            <ul>
                {{range $location, $dates := .Relation.DatesLocations}}
                <li>
                    <strong>{{ $location }}</strong>
                    <ul>
                        {{range $dates}}
                        <li>{{.}}</li>
                        {{end}}
                    </ul>
                </li>
                {{end}}
            </ul>
        </section>
    </main>
</body>
</html>
