<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Artists - Groupie Trackers</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <a href="/" class="navbar-logo">Groupie Trackers</a>
            <ul class="navbar-menu">
                <li><a href="/" class="navbar-item">Home</a></li>
                <li><a href="/artists" class="navbar-item">Artists</a></li>
                <li><a href="/locations" class="navbar-item">Locations</a></li>
                <li><a href="/about" class="navbar-item">About</a></li>
            </ul>
        </div>
    </nav>

    <header>
        <h1>Artists</h1>
    </header>
    <main>
        <section class="artists-grid">
            {{if .}}
                {{range .}}
                <div class="artist-card">
                    <a href="/artist?id={{.ID}}">
                        <img src="{{.Image}}" alt="Image of {{.Name}}" onerror="this.onerror=null;this.src='/static/images/placeholder.jpg';">
                        <h2>{{.Name}}</h2>
                    </a>                    
                    <a href="/artist?id={{.ID}}" class="view-details-link">View Details</a>
                </div>
                {{end}}
            {{else}}
                <p>No artists available.</p>
            {{end}}
        </section>
    </main>
    <footer>
        <div class = "footer-content">
            <p>&copy; 2024 Groupie Tracker. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
