<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Artists - Groupie Trackers</title>
    <script src="/static/scripts.js" defer></script>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <a href="/" class="navbar-logo">
                <img src="/static/images/favicon96.png" alt="Groupie Trackers Logo" class="navbar-logo-image"> 
                Groupie Trackers
            </a>
            <ul class="navbar-menu">
                <li><a href="/" class="navbar-item">Home</a></li>
                <li><a href="/about" class="navbar-item">About</a></li>
                <li><form action="/search" method="GET" style="display: flex; align-items: center;" class="navbar-search">
                    <input type="text" name="query" placeholder="Search..." style="padding-right: 30px;">
                    <button type="submit" style="background: none; border: none; position: relative; right: 30px; padding: 0;">
                        <i class="fas fa-search" style="color: #fff;"></i>
                    </button>
                </form></li>
            </ul>
        </div>
    </nav>

    <!-- New hero section with the concert image -->
    <section class="hero">
        <img src="/static/images/Groupie1Cropd.jpg" alt="Concert crowd with spectacular light show" class="hero-image">
        <div class="hero-content">
            <h1>Artists</h1>
        </div>
    </section>

    <main>
        <section class="artists-grid">
            {{if .}}
                {{range .}}
                <div class="artist-card">
                    <a href="/artist?id={{.ID}}">
                        <img src="{{.Image}}" alt="Image of {{.Name}}" onerror="this.onerror=null;this.src='/static/images/placeholder.jpg';">
                        <h2>{{.Name}}</h2>
                    </a>
                    <a href="/artist?id={{.ID}}" class="view-details-link">View Details</a>
                </div>
                {{end}}
            {{else}}
                <p>No artists available.</p>
            {{end}}
        </section>
    </main>

    <footer>
        <div class="footer-content">
            <p>&copy; 2024 Groupie Tracker. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
